{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'main_app/style/autoriz.css' %}" type="text/css">
</head>
<body>

    <div class="form-error">{{ form.non_field_errors }}
    </div>
    <div class = 'login'>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </div>

